version: '3.7'
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: 'design_patterns_php'
    restart: 'on-failure'
    tty: true
    volumes:
      - .:/var/www/html
